services:
  db:
    image: postgres:16-alpine
    container_name: chefplanner-db
    environment:
      POSTGRES_DB: chefplanner
      POSTGRES_USER: chefuser
      POSTGRES_PASSWORD: chefpass
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - chefnet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U chefuser -d chefplanner"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: on-failure
    ports:
      - "5433:5432"

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ./servers.json:/pgadmin4/servers.json
    networks:
      - chefnet

volumes:
  pgdata:
  pgadmin-data:

networks:
  chefnet:
